* {
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  padding: 0vh 0px 10vh 0px;
  background-color: #b5bbd8;
  overflow-x: hidden;
}
